
body{
 margin: ;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #181c14e4;
}

#calculator{
    background-color: #697565;
    padding: 20px;
    max-width: 350px;
    overflow: hidden;
    border-radius: 20px;
   
}
#display{
    width: 90%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color:#414b3e89;
    color: #ECDFCC;
}
#btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
   
}
button{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    background-color: #3C3D37;
    color: #ECDFCC;
  

}
button:hover{
    background-color: #3C3D37; ;
    color: #ECDFCC;
    border: 1px solid whitesmoke;
}
.operator-btn{
    background-color: #ecdfccc5;
    color: #5a7551f3;
}
.operator-btn:hover{
    background-color: #e5d2b6 ;
    color: #697565;
    border: 2px solid black;
}
